.backButton {
  float: left;
}

.profile {
  padding: 5%;

  &_avatar {
    margin: 10% auto 5%;
    width: 45%;
    height: auto;

    &_image {
      display: block;

    }
  }

  &_name {
    margin-top: 20px;
    padding-start: 10px;
    text-align: center;
    width: auto;
  }
}

.profile_input_container {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > * {
    margin: 3%;
  }
}
